/*  

TABLE OF CONTENTS
    #01 - General and Typography
    #02 - Main Welcome Page
    #03 - Navigation Box and Dropdown
    #04 - Introduction Box
    #05 - Side Bar
    #06 - Project Styles
    #07 - Project - 0
    #08 - Project - 1
    #09 - Project -2

    Media Queries
*/


/* ==========================================================================
    #01. General and Typography 
========================================================================== */

body,
html {
    margin: 0;
    height: 100%;
    font-family: 'Catamaran', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "Befolk Regular";
    src: url("../libs/fonts/webfontkit-20180114-000054/befolk_script-webfont.woff");
    src: url("../libs/fonts/webfontkit-20180114-000054/befolk_script-webfont.woff") format("woff"), url("/assets/libs/webfontkit-20180114-000054/befolk_script-webfont.woff2") format("woff2");
}


/* ==========================================================================
    #02. Main Welcome Page
========================================================================== */

.main {
    display: grid;
    grid-template-rows: 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh;
    grid-template-columns: 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw;
    background: url("../img/backgrounds/headShot.png")no-repeat center top;
    background-size: cover;
    background-color: rgb(19, 19, 19);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
}


/* ==========================================================================
    #03 - Navigation Box and dropdown
========================================================================== */

.nav-box {
    grid-column: 9/13;
    grid-row: 1/2;
    align-content: center;
}

.update-notification {
    float: none;
    margin: 0;
    padding: 0;
    color: white;
    top: 40%;
    position: relative;
    /* display: inline-block; */
    font-size: 1.2rem;
    text-align: left;
}

#update {
    font-size: .95rem;
    color: gray;
}

#burger {
    grid-column: 11/13;
    margin-left: 10.5rem;
    position: fixed;
    height: 54px;
    width: 54px;
    border-top: #0AD6FF 1px solid;
    border-bottom: aqua 1px solid;
    z-index: 100;
    cursor: pointer;
}

.burger-line-wrapper {
    width: 18px;
    margin: 21px auto 0;
    position: relative;
    top: -61px;
}

.burger-line {
    background-color: white;
    height: 1px;
    width: 20px;
    margin: 5px auto 0rem;
    position: relative;
    z-index: 100;
}

#burger-border-left,
#burger-border-right {
    top: 0;
    height: 54px;
    width: 1px;
    bottom: 0;
    background: linear-gradient(180deg, #0AD6FF, #00edc2, #19B2FF, aqua);
    line-height: 100%;
    display: inline-block;
}

#burger-border-right {
    position: relative;
    right: -53px;
    top: -97px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #0AD6FF, #00edc2, #19B2FF, aqua);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .7s ease;
    z-index: 0;
}

#burger:hover .overlay {
    height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #333A40;
    width: 100vw;
    height: 100vh;
    font-family: "Befolk Regular";
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 75;
}

#home-dropdown {
    margin-top: 15vh;
}

.dropdown-content a {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    background: linear-gradient(180deg, #19B2FF, aqua, #0AD6FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-list-nav-panel {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}

.panel-list {
    display: inline-block;
}

a.fa-links {
    font-size: 1.5rem;
    margin-top: 0;
    text-decoration: none;
    color: white;
    display: inline-flex;
    background-image: linear-gradient(180deg, #19B2FF, aqua, #0AD6FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 99;
}

.show {
    display: block;
}


/* ==========================================================================
    #04 - Introduction Box
========================================================================== */

.finneyIntro {
    grid-column: 8/12;
    grid-row-start: 3;
    color: white;
}

.myNameIs {
    text-align: center;
    margin-bottom: -15px;
    font-size: 1.05rem;
}

.bigName {
    margin: 0;
    text-align: center;
    font-family: "Befolk Regular";
    font-size: 7rem;
    background: linear-gradient(180deg, #19B2FF, aqua, #0AD6FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.introPara {
    margin-top: -25px;
    text-align: center;
    color: white;
    font-stretch: extra-condensed;
}

.contactLinks {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}

li {
    display: inline-flex;
    padding: 9px;
    background: #19b2ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #19b2ff 0%, #00ffff 50%, #0ad6ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #19b2ff 0%, #00ffff 50%, #0ad6ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #19b2ff 0%, #00ffff 50%, #0ad6ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b2ff', endColorstr='#0ad6ff', GradientType=0);
    /* IE6-9 */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactLinks li a {
    display: inline-flex;
}

.arrow-wrapper {
    width: 72px;
    height: 15vh;
    margin: 20px auto;
}

.arrowDown {
    margin: 0 auto;
    height: 100%;
    width: 3px;
    background: -webkit-linear-gradient(#0AD6FF, #00edc2, #19B2FF, aqua);
}


/* ==========================================================================
    #05 - Side Bar
========================================================================== */

.sidebarContainer {
    text-align: center;
    transform-origin: top left;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari 3-8 */
    transform: rotate(-90deg);
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
    padding-top: 25px;
    top: 2rem;
    /* height: 33%;
    width: 58vw;
    position: relative;
    left: -8rem;
    top: 108%; */
}

.sidebar {
    color: white;
    display: inline;
    margin: 0;
}

.sideLi {
    padding: 0 1.5rem 0;
    font-size: .95rem;
}


/* ==========================================================================
    #06 - Project Styles
========================================================================== */

.ProjectHeader {
    font-family: "Befolk Regular";
    font-size: 6rem;
    text-align: center;
    margin: 0;
}

.project-main {
    display: grid;
    grid-template-columns: 5vw 9vw 9vw 9vw 12vw 9vw 9vw 12vw 9vw 1vw;
    grid-template-rows: 100px 100px 100px 100px 50px;
    position: relative;
}

.project-line-wrapper {
    width: 125px;
}

.project-number {
    font-size: 1.2rem;
    font-weight: 900;
    z-index: 1;
    position: relative;
    top: -1.1rem;
    left: 1.5rem;
    padding: 0 2rem;
    text-transform: uppercase;
}

.project-line {
    background-color: #071A47;
    height: 6px;
}

.title-cat {
    margin: 0 20px;
    font-weight: 900;
}

.project-link-wrapper {
    box-sizing: border-box;
    position: relative;
    grid-column: 4/ 9;
    grid-row: 6;
    height: 15px;
    width: 75%;
    text-align: center;
    background-color: white;
    top: 1.2rem;
    z-index: 2;
}

.project-link-wrapper a {
    padding: 7px 25px;
    margin: 0 7px;
    border: 1px solid;
    text-decoration: none;
    background-color: white;
    color: black;
    z-index: 2;
}

.project-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 5vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 5vw;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    padding-bottom: 1rem;
}


/* ==========================================================================
    #07 - Project 0
========================================================================== */

#project-0 {
    background-color: white;
    border: 2px #e9eef3 solid;
    margin: 40px 0;
    grid-column: 2 / 12;
    grid-row: 1/9;
}

#project-0-title {
    background-color: white;
    color: #BE2020;
}

.Info {
    /* position: absolute; */
    grid-row-start: 1;
    grid-column: 2 / 6;
    /* left: 5rem;
    height: 500px;
    width: 500px; */
    /* margin-right: 50rem; */
}

#ZelpHead {
    color: #071A47;
}

.MockUp {
    position: relative;
    grid-row: 2/5;
    grid-column: 6/12;
    /* top: -20rem; */
    /* left: 31rem; */
    /* height: 100%; */
    /* width: auto; */
}

.MockUp img {
    width: 100%;
    height: auto;
}

#zelp-code-link {
    border-color: #BE2020;
}

#zelp-proj-link {
    border-color: #BE2020;
}


/* ==========================================================================
    #08 - Project 1
========================================================================== */

.project-wrapper.one {
    background-color: #333A40;
    padding: 40px 0 2rem;
    grid-template-rows: 100px;
}

#project-1-title {
    background-color: #333A40;
    color: rgb(255, 83, 83);
}

#project-1 {
    position: relative;
    background-color: #333A40 !important;
    /* height: 40rem; */
    border: 2px white solid;
    /* margin: 0 40px; */
    grid-column: 2 / 12;
    grid-row: 1 / 4;
}

.project-main.dark {
    grid-template-rows: 100px 100px 100px 100px 65px;
}

.project-line.dark {
    background-color: white;
}

.Info.dark {
    background-color: #333A40;
}

.Info.dark a {
    color: white;
}

.title-cat.dark {
    color: white;
}

.project-link-wrapper.dark {
    top: .2rem;
    background-color: #333A40;
}

.project-link-wrapper.dark a {
    border-color: rgb(255, 83, 83);
    background-color: white;
}

#SHTitle {
    color: white;
}

.ProjectSubheadings.dark {
    color: white;
}

.ProjectParagraph.dark {
    color: white;
}


/* ==========================================================================
    #09 - Project 2
========================================================================== */

.project-wrapper.two {
    background-color: #E9EEf3;
    padding: 20px 0;
}

#project-2-title {
    background-color: #E9EEf3;
    color: black;
}

.project-main.light-grey {
    grid-template-rows: 7.285vh 14.285vh 14.285vh 14.285vh 14.285vh 7vh 6vh;
}

#project-2 {
    position: relative;
    background-color: #E9EEf3 !important;
    /* height: 35.8rem; */
    border: 2px #333A40 solid;
    /* margin: 40px; */
    grid-column: 2 / 12;
    grid-row: 1 / 7;
}

#CSTitle {
    color: #071A47;
    font-size: 4.5rem;
}

.ProjectSubheadings.light-grey {
    color: black;
}

.ProjectParagraph.light-grey {
    color: black;
}

.project-link-wrapper.light-grey {
    background-color: #E9EEf3;
}


/* ==========================================================================
MEDIA QUERIES
    #01.1 x-small
    #02.1 small
    #03.1 medium
    #04.1 large
========================================================================== */


/* ==========================================================================
    #01.1 x-small
========================================================================== */

@media only screen and (max-width: 425px) {
    #home.main {
        grid-template-columns: 2vw 32vw 30vw 32vw ;
        grid-row: 1/10;
        width: 100%;
    }
    .nav-box {
        grid-column: 3 / 3;
    }
    #burger {
        top: .5rem;
        right: 1rem;
    }
    .finneyIntro {
        padding: 0 0px 0 10px;
        /* width: 100%; */
        grid-column: 1/6;
        grid-row: 5 / 10;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .introPara {
        text-align: left;
        color: white;
    }
    .arrow-wrapper {
        margin-bottom: 0;
    }
    .arrowDown {
        height: 65%;
    }
    .bigName {
        font-size: 4rem;
        padding-bottom: 5px;
    }
    .update-notification {
        display: none;
    }
    .sidebarContainer {
        display: none;
    }
    #in-touch {
        grid-column: 2/5;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    a.fa-links {
        font-size: 1.15rem;
        -webkit-text-fill-color: aqua;
    }
    .contactLinks li a{
        -webkit-text-fill-color: aqua;
        display: inline;
    }
    .project-main {
        grid-template-columns: 3vw;
        grid-template-rows: 100px 100px 100px 100px 100px 65px;
        max-height: 600px;
    }
    /* ==========================================================================
    #01.1 xsmall project styles
========================================================================== */
    .Info {
        grid-row: 3;
        grid-column: 3/12;
    }
    .MockUp {
        grid-row: 1/2;
        grid-column: 1/12;
    }
    .ProjectHeader {
        text-align: left;
        font-size: 3.5rem;
    }
    .project-link-wrapper {
        grid-column: 1/12;
        height: 15px;
        width: auto;
        /* background-color: white; */
        position: relative;
        /* left: 5rem; */
        top: 4rem;
        display: block;
        /* margin: 0 auto; */
        z-index: 1;
    }
    .project-link-wrapper a {
        margin: 0 20px;
    }
    /* .port-top-title {
        grid-column: 4/11;
    }
    .port-btm-title {
        grid-column: 1/11;
    } */
    .port-btm-title :nth-child(2) {
        margin-left: 5px;
    }
    .port-btm-title :nth-child(3) {
        margin-left: 20px;
    }
    .port-top-title {
        text-align: center;
        margin: 1.5rem 2.5rem 0 0;
        color: gray;
    }
    .port-sub-title.dark {
        text-align: center;
        margin-left: 20px;
        ;
        color: white;
    }
    .ProjectParagraph {
        margin: 1em auto;
    }
    /* ==========================================================================
    #01.1 xsmall Zelp styles
========================================================================== */
    .project-wrapper.zero {
        grid-template-columns: 3vw 22.5vw 22.5vw 22.5vw 23.5vw 3vw;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
        max-height: 700px;
    }
    #project-0 {
        grid-column: 2 /6;
        grid-row: 1/11;
        max-height: 700px;
        /* margin-bottom: 10rem; */
    }
    /* ==========================================================================
    #01.1 xsmall Shipt Hub styles
========================================================================== */
    .project-main.dark {
        grid-template-rows: 100px 100px 100px 100px;
        /* max-height: 600px; */
    }
    .project-wrapper.one {
        grid-template-columns: 3vw 22.5vw 22.5vw 22.5vw 23.5vw 3vw;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 50px 10px;
        grid-row: auto;
        /* max-height: 800px; */
    }
    #project-1 {
        grid-column: 2 /6;
        grid-row: 1/8;
        /* max-height: 600px; */
    }
    .project-link-wrapper.dark {
        top: 13rem;
        grid-column: 1/12;
        /* grid-row: 9; */
    }
    .port-btm-title.dark :nth-child(2) {
        margin-left: 15px;
        padding-left: 1px;
    }
    .port-btm-title.dark :nth-child(3) {
        margin-left: 30px;
        padding-left: 5px;
    }
    /* ==========================================================================
    #01.1 xsmall Covalence Store styles
========================================================================== */
    .project-wrapper.two {
        grid-template-columns: 3vw 22.5vw 22.5vw 22.5vw 23.5vw 3vw;
        grid-template-rows: 12.857vh 12.857vh 12.857vh 12.857vh 12.857vh 12.857vh 6.857vh;
        padding: 1.5rem 0 1.5rem;
        grid-row: 1/15;
    }
    .project-main.light-grey {
        grid-template-rows: 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh;
    }
    #project-2 {
        grid-row: 1/10;
        grid-column: 2/6;
    }
    #CSTitle {
        margin-top: 5px;
        font-size: 3rem;
    }
    .Info.light-grey {
        grid-row-start: 6;
        grid-column: 2/12;
    }
    #jul17 {
        margin-left: 1.4em;
    }
    .project-link-wrapper.light-grey {
        grid-row: 16;
    }
    .port-sub-title.light-grey {
        margin-left: 8px;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    #home.main {
        /* background-attachment: fixed; */
        grid-template-columns: 2vw 24vw 24vw 24vw 24vw 2vw;
        grid-template-rows: 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh;
        grid-column: 1 / 8;
        grid-row: 1 /10;
    }
    #burger {
        top: .5rem;
        right: 1rem;
    }
    .finneyIntro {
        padding: 0 5px 0 5px;
        background-color: rgba(0, 0, 0, 0.7);
        grid-column: 1/6;
        grid-row: 10/15;
    }
    .myNameIs {
        font-size: 1.45rem;
    }
    .introPara {
        grid-column: 3/5;
        /* text-align: left; */
        color: white;
        font-size: 1.35rem;
        line-height: 25px;
    }
    .arrow-wrapper {
        margin-bottom: 0;
    }
    .arrowDown {
        height: 75%;
    }
    .bigName {
        font-size: 4rem;
        padding-bottom: 5px;
    }
    .update-notification {
        display: none;
    }
    .sidebarContainer {
        display: none;
    }
    #in-touch {
        text-align: center;
        position: relative;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .project-main {
        grid-template-columns: 3vw 9vw 9vw 9vw 12vw 9vw 9vw 12vw 9vw 1vw;
        grid-template-rows: 120px
    }
    /* ==========================================================================
    #01.1 small project styles
========================================================================== */
    .Info {
        grid-row-start: 11;
        grid-column: 2/12;
    }
    .MockUp {
        grid-column: 1/12;
    }
    .ProjectHeader {
        text-align: left;
        font-size: 3.5rem;
    }
    .project-link-wrapper {
        grid-column: 3/12;
        grid-row: 12;
        top: 10px;
    }
    .project-link-wrapper a {
        padding: 7px 25px;
    }
    .port-top-title {
        display: none;
    }
    .port-btm-title {
        display: none;
    }
    .port-btm-title :nth-child(2) {
        margin-left: 5px;
    }
    .port-btm-title :nth-child(3) {
        margin-left: 20px;
    }
    .port-sub-title {
        text-align: center;
        margin: 0 10px;
        color: gray;
    }
    .ProjectParagraph {
        margin: 1em auto;
    }
    /* ==========================================================================
    #01.1 small Zelp styles
========================================================================== */
    .project-wrapper.zero {
        grid-template-columns: 3vw 22.5vw 22.5vw 22.5vw 23.5vw 3vw;
        grid-template-rows: 120px;
    }
    #project-0 {
        grid-column: 2 /6;
        grid-row: 1/12;
        /* margin-bottom: 10rem; */
    }
    /* ==========================================================================
    #01.1 small Shipt Hub styles
========================================================================== */
    .project-main.dark {
        grid-template-rows: 100px;
    }
    .project-wrapper.one {
        grid-template-columns: 3vw 22.5vw 22.5vw 22.5vw 23.5vw 3vw;
        grid-template-rows: 70px;
        margin: 1rem 0 0rem;
        padding-bottom: 50px;
        grid-row: 1/15;
    }
    #project-1 {
        grid-column: 2 /6;
        grid-row: 1/12;
    }
    /* .project-link-wrapper.dark {
        top: 3.25rem;
        grid-row: 17;
    } */
    .port-btm-title.dark :nth-child(2) {
        margin-left: 15px;
        padding-left: 1px;
    }
    .port-btm-title.dark :nth-child(3) {
        margin-left: 30px;
        padding-left: 5px;
    }
    /* ==========================================================================
    #01.1 small Covalence Store styles
========================================================================== */
    .project-wrapper.two {
        grid-template-columns: 3vw 22.5vw 22.5vw 22.5vw 23.5vw 3vw;
        grid-template-rows: 12.857vh 12.857vh 12.857vh 12.857vh 12.857vh 12.857vh 12.857vh 12.857vh 6.857vh 6.857vh;
        padding: 1.5rem 0 1.5rem;
        grid-row: 1/15;
    }
    .project-main.light-grey {
        grid-template-rows: 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh 6.66vh;
    }
    #project-2 {
        grid-row: 1/10;
        grid-column: 2/6;
    }
    #CSTitle {
        margin-top: 5px;
        font-size: 3rem;
    }
    .Info.light-grey {
        grid-row-start: 10;
        grid-column: 2/12;
    }
    #jul17 {
        margin-left: 39px;
    }
    .project-link-wrapper.light-grey {
        grid-row: 16;
    }
}

@media screen and (min-width: 769px) and (max-width: 1219px) {
    .myNameIs {
        text-align: center;
        font-size: 1.2rem;
    }
    .introPara {
        font-size: 1.45rem;
        line-height: 30px;
    }
    .sidebarContainer {
        grid-column-end: 8;
    }
    .sideLi {
        font-size: 1.45rem;
    }
    .port-top-title {
        display: none;
    }
    .port-btm-title {
        display: none;
    }
}

@media screen and (min-width: 1220px) {
    .MockUp {
        grid-row: 1/5;
    }
}