<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
           </div>
           <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                 <li><a href="https://github.com/CFin86/my-shipt-coding-challenge">Source Code</a></li>
                 <!-- for quickly adding another li element -->
                 <!-- <li><a href="#"></a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                 <li><a href="http://chrisfinney.info/resume"><span class="glyphicon glyphicon-list-alt"></span> My Resume</a></li>
              </ul>
           </div>
        </div>
</nav>